.customerprofile {
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;

  &-image {
    width: 90px;
    height: 90px;
    position: relative;
    margin-bottom: 25px;
    img {
      width: 100%;
      height: 100%;
    }
    &__rate {
      font-weight: bold;
      border: 2.45px solid rgba(141, 146, 163, 0.1);
      border-radius: 10px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -15px;
      background-color: white;
      left: 50%;
      transform: translate(-50%, 0);
      span {
        padding-bottom: 1px;
      }
    }
  }
  &-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &-altername {
    background: rgba(168, 47, 150, 0.12);
    border-radius: 5px;
    padding: 6px 22px;
    color: #a82f96;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14px;
  }
  &-blocked {
    background: rgba(255, 41, 37, 0.08);
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    color: #d11f3d;
    display: flex;
    align-items: center;
    position: relative;
    top: -14px;
    padding: 8px 11px;
  }
  &-note,
  &-text {
    color: #000;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
  }
  &-email,
  &-phone,
  &-text {
    color: rgba(94, 98, 120, 1);
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  &-un--paid {
    cursor: pointer;
    background: #f7fafc;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 16px;
    &_value {
      color: #d11f3d;
    }
  }

  &-actions {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    margin-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid rgba(229, 231, 235, 1);
    padding-bottom: 15px;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button {
        border: 1.07px solid rgba(141, 146, 163, 0.26);
        background-color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 6px;
        margin-bottom: 10px;
        transition: all 0.3s;
        &:hover {
          background-color: rgb(161, 43, 148);
          path {
            fill: #fff;
          }
        }
      }
      button.block {
        &:hover {
          background-color: red;
          path {
            stroke: #fff;
            fill: red;
          }
        }
      }
      span {
        color: rgba(141, 146, 163, 1);
        font-weight: 500;
      }
    }
  }
  &-viewlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__item {
      color: #181c32;
      font-weight: 600;
      padding: 15px 30px;
      text-align: left;
      border: none;
      background-color: #fff;
      margin-bottom: 5px;
      &:hover {
        color: #a12b94;
        background: rgba(239, 242, 245, 0.72);
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
.customerslist.beuti-table {
  .beuti-table__sort {
    padding: 0px;
  }
  .employeetable-name__info {
    margin: 0px;
  }
  i[class^='flaticon'] {
    font-size: 12px;
  }
  .MuiTableBody-root {
    .MuiTableRow-root:not(.loader):hover {
      background-color: #f6f6f6 !important;
      cursor: pointer;
    }
  }
}
.customerprofile-viewlist__item.active {
  color: #a12b94;
  background: rgba(239, 242, 245, 0.72);
  border-radius: 8px;
  cursor: pointer;
}
body[dir='rtl'] {
  .customerprofile-viewlist__item {
    text-align: right;
  }
}
.block-modal .modal-content {
  padding: 0px 30px;
  p {
    color: rgba(126, 130, 153, 1);
  }
}
@media (max-width: 1400px) {
  .customerprofile-actions {
    padding: 0px;
    padding-bottom: 15px;
  }
}

.view--header {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
}

.invoice-table {
  td {
    color: #718096 !important;
  }
  &__row {
    cursor: pointer;
    &:hover {
      background-color: #f6f6f6 !important;
    }
  }
}

.invoice-status {
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  &--paid {
    color: #4dc41f;
  }
  &--partial {
    color: #e29706;
    text-decoration: underline;
  }
  &--un-paid {
    color: #d11f3d;
  }
  &--refund {
    color: #7e8299;
  }
  .remaining {
    color: grey;
    text-decoration: none !important;
    text-decoration: unset !important;
  }
}

.payment-details {
  .sideinvoice-close {
    position: absolute;
    top: 10px;
    &:lang(en) {
      right: 0px;
    }
    &:lang(ar) {
      left: 0px;
    }
    button {
      width: auto !important;
      svg {
        height: 17px !important;
        width: 17px !important;
      }
    }
  }
  &_body {
    gap: 10px;
    &-data {
      background: #f7fafc;
      border-radius: 7px;
      padding: 18px;
      &-header {
        font-weight: 700;
        font-size: 14px;
        color: #1a202c;
        margin-bottom: 18px;
      }
      &-section {
        display: flex;
        gap: 5px;
        &_img {
          width: 47px;
          height: 47px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          padding: 5px;
        }
        &_info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          &-label {
            font-weight: 400;
            font-size: 11px;
            color: #2c3a4b;
          }
          &-currency {
            font-weight: 600;
            font-size: 13px;
            color: #1a202c;
          }
        }
      }
    }
  }
}

.booking-data {
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(181, 183, 196, 0.25);
  border-radius: 8px;
  margin: 14px 0px;
  padding: 0px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    opacity: 0.7;
  }
  &__confirmed {
    &:lang(en) {
      border-left: 4px solid #4dc41f;
    }
    &:lang(ar) {
      border-right: 4px solid #4dc41f;
    }
  }
  &__pending {
    &:lang(en) {
      border-left: 4px solid #ffa800;
    }
    &:lang(ar) {
      border-right: 4px solid #ffa800;
    }
  }
  &__closed {
    &:lang(en) {
      border-left: 4px solid #a12b94;
    }
    &:lang(ar) {
      border-right: 4px solid #a12b94;
    }
  }
  &__cancelled {
    &:lang(en) {
      border-left: 4px solid #464e5f;
    }
    &:lang(ar) {
      border-right: 4px solid #464e5f;
    }
  }
  &__noShow {
    &:lang(en) {
      border-left: 4px solid #d11f3d;
    }
    &:lang(ar) {
      border-right: 4px solid #d11f3d;
    }
  }
  &_holder {
    padding: 12px 30px;
    display: flex;
    gap: 2.5vw;
    align-items: center;
    min-height: 82px;
    overflow: auto hidden;
    &-date {
      border: 1px solid rgba(141, 146, 163, 0.4);
      border-radius: 6.42373px;
      min-height: 85px;
      min-width: 65px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &_today {
        font-weight: 700;
        font-size: 13px;
        color: #000000;
      }
      &_day {
        font-weight: 700;
        font-size: 20px;
        color: #000000;
      }
      &_rest {
        font-weight: 500;
        font-size: 14px;
        color: #8d92a3;
      }
    }
    &-time {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &_start {
        font-weight: 400;
        font-size: 11px;
        color: #718096;
      }
      &_info {
        font-weight: 600;
        font-size: 14px;
        color: #1a202c;
      }
    }
    &-status {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &_section {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        min-width: 83px;
        width: fit-content;
        padding: 5px 10px;
        height: 17px;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
      }
    }
    &-un--paid {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &-title {
        font-weight: 400;
        font-size: 11px;
        color: #718096;
      }
      &-info {
        font-weight: 600;
        font-size: 14px;
        color: #ff4b55;
      }
    }
  }
  &_arrow {
    padding: 12px 35px;
  }
}
.loadMore {
  text-decoration: underline;
  color: grey;
  font-size: 18px;
  margin: 15px 0px !important;
  border: unset;
  background-color: unset;
  cursor: pointer;
  &:hover {
    color: #a12b94;
  }
}
