.book {
  padding: 10px 10px 0px 10px;
  &-header {
    margin-bottom: 20px;

    &__date {
      font-weight: 600;
      font-size: 14px;
      color: #000000;
    }
  }
  &-data {
    &__container {
      width: 100%;
      min-height: 90px;
      display: flex;
      padding: 20px 0px;
      background: #ffffff;
      box-shadow: 0px 4px 20px rgba(181, 183, 196, 0.1);
      border-radius: 13px;
      border: unset;
      margin-bottom: 25px;
      &-date {
        min-width: 27%;
        display: flex;
        align-items: start;
        padding: 0px 25px;
        font-weight: 700;
        font-size: 14px;
        color: #000000;
      }
      &-info {
        min-width: 73%;
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;
        position: relative;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          height: 100%;
          width: 2px;
          background-color: #e2e5ed;
          border-radius: 50%;
          top: 0%;
          left: -20px;
          right: -20px;
        }
        &__first {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 3px;
          &-customer--name {
            font-weight: 700;
            font-size: 14px;
            color: #1a202c;
            margin-bottom: 5px;
          }
          &-services {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            color: #1a202c;
            text-align: start;
          }
        }
        &__last {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 5px;
          text-align: end;
          &-location {
            font-weight: 500;
            font-size: 13px;
            color: #718096;
            display: flex;
          }
          &-price {
            font-weight: 500;
            font-size: 13px;
            color: #1a202c;
          }
          &-view--book {
            border-radius: 5px;
            padding: 0px 2px;
            button {
              background: unset;
              border: unset;
            }
            &:hover {
              background-color: rgb(240, 240, 240);
            }
          }
        }
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .selected-booking {
      border: 1px solid #a12b94;
    }
  }
}

.booking--header {
  background-color: #f3f6f9;
  border-radius: 8px;
  padding: 10px;
  //   margin-bottom: 10px;
  position: sticky;
  top: 0px;
  z-index: 100;
  .beuti-search__input:focus {
    box-shadow: unset !important;
  }
  .booking-headers_first--part_status-drop {
    max-height: 60vh !important;
  }
  &-emp--selection {
    height: 45px;
    border: 1px solid #d2d5e1;
    border-radius: 6px;
    button.btn.btn-primary {
      background-color: white !important;
      border-radius: 6px;
      box-shadow: unset !important;
      color: #111827;
      border-color: #d2d5e1;
      overflow: auto;
      width: 100%;
      text-overflow: ellipsis;
      padding: 0px 10px !important;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_status-drop {
      width: 100% !important;
      text-align: unset !important;
      background-color: white;
      top: 0px !important;
      position: absolute !important;
      padding: 0px;
      display: flex !important;
      flex-direction: column;
      grid-gap: 7px;
      gap: 7px;
      align-items: start;
      max-height: 75vh;
      overflow: hidden auto;
    }
  }
}
