.services-list-item {
  border: 0px;
  border-bottom: 2px solid #eee;
  border-radius: 0px;
  &:last-of-type {
    border-bottom: 0px;
  }
}

.services-list {
  padding-inline-start: 0px;
  border-bottom: 0px;
}
