.beuti-container {
  position: relative;
  width: calc(100% - 30px) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.without-side-nav-container {
  //   width: 90% !important;
  //   margin-right: auto !important;
  //   margin-left: auto !important;
  //   margin-top: 35px;
}
