$primary: #9b278f;
$white: #fff;
$body_color: #fafafa;
$gray_label: #535b66;
$error: #e76363;
$black: #211f28;
$label: #9090ab;
$gradient-from: rgba(60, 8, 118, 0.8);
$gradient_to: rgba(250, 0, 118, 0.8);

$main_font: 'Proxima Nova Regular', sans-serif;
$main_font_bold: 'Proxima Nova Bold', sans-serif;
$arabic_font: 'Cairo', sans-serif;
