.pagetab {
  display: flex;
  max-width: 65vw; /*responsive  on md screen*/
  overflow: auto hidden; /*responsive  on md screen*/
  &-link {
    background-color: #eaeaea;
    color: rgba(120, 120, 120, 1);
    margin-left: 1px;
    margin-right: 1px;

    height: 45px;
    line-height: 45px;
    min-width: 170px;
    text-align: center;
    border-radius: 3px;
    border-top: 2px solid #eaeaea;

    &-active {
      border-radius: 5px;
      color: rgba(168, 47, 150, 1);
      border-top-color: rgba(168, 47, 150, 1);
      background-color: #f6f6f6;
    }
    &:hover {
      color: rgba(168, 47, 150, 1);
      background-color: #f6f6f6;
      text-decoration: none;
      opacity: 0.8;
    }
    &:last-of-type {
      margin-left: 0px;
    }
  }
}
